.navbar {
    position: fixed;
    width: 100%;
    background-size: cover;
    background-color: black;
    z-index: 10;
    color: white;
    padding: 20px;
}


.navbar a {
    color: white !important;
}

.nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.intro {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Style Script', cursive;
}

.intro {
    padding-top: 60px;
}

.howto {
    padding: 25px;
}

.tools {
    text-align: center;
}

.tips {
    padding: 50px;
}

.tips h1 {
    margin-bottom: 0px;
}


#col-3 p {
    position: relative;
    left: 50px;
}
.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.image-stack__item--top{
    grid-column: 1 / span 8;
    grid-row: 1;
    /* padding-top: 90%; */
    z-index: 1;
}

.image-stack__item--bottom {
    grid-column:  3 / -1;
    grid-row:  1;
}

/* HOW TO SECTION */


.howto h1 {
    margin-bottom: 0;
}

.howto h6 {
   position: relative;
   left: 50px;
   font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/* HOBBIES section */


.hobbies h1 {
    color: black;
    text-align: center;
}

.hobbies h1:hover {
    text-decoration: underline;
}